@model Group12_FinalProject.Models.ReservationDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservationDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDetailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDetailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StayPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StayPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberofDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberofDays)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
