@model Group12_FinalProject.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestsAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestsAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekDayPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekDayPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetsAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetsAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
